data/*/scaled/
data/*/encoded_data/
data/*/*.pkl
data/*/*.npy
data/*/supervised/
data/*/cluster/cluster_data/
data/*/cluster/*_clusters_*.csv
model/*
data/*/cluster/*-stations-*.csv
!/data/*/cluster/cluster_stations.csv
!data/*/listOfStations
!data/*/Maximums.pkl
!data/*/MinMaxScaler.sav
logs/
model/*/*.png
__pycache__/
plots/
env/
distortions.csv
